<% content_for :title, "New Classroom" %>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header bg-white">
          <h1 class="h3 mb-0">New Classroom</h1>
        </div>
        <div class="card-body">
          <%= render "form", classroom: @classroom %>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<div>
  <%= link_to "Back to classrooms", classrooms_path %>
</div>
