<div id="<%= dom_id theme %>">
  <p>
    <strong>Module name:</strong>
    <%= theme.module_name %>
  </p>

  <p>
    <strong>Module description:</strong>
    <%= theme.module_description %>
  </p>

  <p>
    <strong>Is archived:</strong>
    <%= theme.is_archived %>
  </p>

</div>
