<div id="<%= dom_id class_type %>">
  <p>
    <strong>Name:</strong>
    <%= class_type.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= class_type.description %>
  </p>

  <p>
    <strong>Is archived:</strong>
    <%= class_type.is_archived %>
  </p>

</div>
